@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif
}

thead, tfoot {
    background-color: grey;
    color: white
}

table {
    width: 500px;
    border-collapse: collapse;
}

td.num {
    text-align: right;
}

td.porcent {
    text-align: center;
}

th, td {
    border: 1px solid black;     
    padding: 5px
}




